/*
Style.css file for RePepeca
Designed by Yago Arroyo
Source code available at github.com/yagoag
*/

@font-face {
    font-family: "BebasNeue";
    src: url("../font/BebasNeue.otf");
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    word-wrap: break-word;
    font-weight: normal;
}

body {
    background: #1b3792;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

p {
    margin-bottom: 7px;
}

input, select, button {
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    padding: 8px 12px;
    font-size: 18px;
    border: 1px solid #bbb;
    color: #777;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 8px 28px 8px 12px;
    background: url("../img/down_arrow.png") no-repeat 90% center;
}

input[type="button"], input[type="submit"] {
    background: #1b3792;
    color: #ffea00;
}

form, .page-content {
    margin-left: 15px;
    text-align: center;
    width: 350px;
}

a img {
    opacity: 0.5;
}

a:hover img {
    opacity: 1;
}

#login_status {
    background: #ffea00;
    color: #1b3792;
    border-radius: 0 0 5px 5px;
    height: 45px;
    float: right;
    margin-top: -10px;
    margin-right: 20%;
    padding: 5px 10px;
    text-align: right;
}

@media (max-width: 1200px) {
    #login_status {
        margin-right: 25px;
    }
}

#login_status .username {
    font-family: "BebasNeue", sans-serif;
    font-size: 30px;
}

#login_status .logout, #login_status .logout a {
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin-top: -10px;
}

#login_status a {
    color: #1b3792;
}

#login_status a:hover {
    color: #fff;
}

#header {
    font-family: "BebasNeue", sans-serif;
    margin-top: 10px;
    margin-left: 23%;
    margin-bottom: -65px;
    color: #ffea00;
    font-size: 120px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

#header .logo {
    margin-right: 15px;
}

#sidebar {
    float: left;
    width: 20%;
    text-align: right;
    margin-top: 50px;
}

#sidebar .option {
    font-family: "BebasNeue", sans-serif;
    font-size: 42px;
    margin-bottom: -10px;
}

#sidebar .description {
    font-family: Arial, sans-serif;
    font-size: 11px;
    margin-bottom: 10px;
}

#sidebar a {
    color: #fff;
}

#sidebar .active, #sidebar a:hover {
    color: #ffea00;
}

#content {
    background: white;
    border-radius: 15px 0 0 15px;
    margin-left: 21%;
    min-height: 400px;
    padding: 65px 30px 30px 50px;
    color: #000;
}

#content .title {
    font-family: "BebasNeue", sans-serif;
    font-size: 48px;
    margin-bottom: 5px;
}

#content .member_list {
    background: #ddd;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #bbb;
    text-align: left;
    width: 300px;
    margin: auto;
}

#content table {
    font-family: "BebasNeue", sans-serif;
    font-size: 22px;
    color: #333;
    border: none;
}

#content table td, #content table th {
    padding: 2px 5px;
}

#content table th {
    color: #1b3792;
    text-align: left;
}

#content .pager {
    width: 70%;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

#content .pager .page_number {
    display: inline-block;
    background: #ffea00;
    color: #1b3792;
    font-family: "BebasNeue", sans-serif;
    font-size: 18px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-right: 5px;
}

#content .transactions td, #content .transactions th {
    border-bottom: 1px solid;
    border-right: 1px solid;
}

#content .transactions td {
    border-color: #d4bd21;
}

#content .transactions th {
    border-color: #1b3792;
}

#content .balance table {
    width: 40%;
}

#content .balance .bal {
    text-align: right;
}

#content .balance .negative {
    color: red;
}

#content .balance .positive {
    color: green;
}

#content .balance .neutral {
    color: blue;
}

#footer {
    margin-left: 23%;
    margin-bottom: 20px;
    font-size: 11px;
}